extends layout

block content
  h1= "BikePark"
  p Welcome to #{"BikePark"}
  a(href='https://expo.dev/@norbertomat/Biker?serviceType=classic&distribution=expo-go') Expo QR
  script.
    console.log(process.env.APK_LINK);
  a(href=process.env.APK_LINK) APK Link