extends layout

block content
  h1= "BikePark"
  p Welcome to #{"BikePark"}
  p: a(href='https://expo.dev/@bikepark42/Biker?serviceType=classic&distribution=expo-go') Expo QR
  p: a(href=process.env.APK_LINK) APK Link