extends layout

block content
  h1= "BikePark"
  p Welcome to #{"BikePark"}
  a(href='https://expo.dev/@norbertomat/Biker?serviceType=classic&distribution=expo-go') Expo QR
  script.
    let apkLink = process.env.APK_LINK;
    console.log(apkLink);
  a(href=apkLink) APK Link